@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Courgette');

/*  === This is the body of the website === */

.closetlogo img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    float: left
}

.closetlogo p{
  font-family: 'Courgette', cursive;
  font-size: 40px;
  float: right;
  display: right;
  color: rgba(255, 189, 199, 1);
}

.update {
    text-align: center;
    float: center;
    display: center;
    border: 5px #f9b5ac;
    margin: auto;
    text-align: center;
    color: rgba(255, 189, 199, 1);
    }

.welcome h3{
    text-align: center;
    background-color: rgba(255, 189, 199, 1);
    font-family: 'Courgette', cursive;
    color: white;
    font-size: 40px;
}

.welcome{
    padding-top: 5px;
    margin-left: 70px;
    margin-right: 5px;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  margin-top:50px;
  /*margin-left:50px;*/
  /*margin-right:50px;*/
  margin-bottom: 50px;
  
}

/*Carousel*/
.reveal, #myCarousel{
    display: center;
    margin: auto;
}

/*.hstory, .dstory{*/
/*    display: center;*/
/*    font-size: 18px;*/
/*    font-family: 'Roboto Slab', serif;*/
/*    color: #4C4C4C;*/
}

heel, p{
    display:center;
    padding: 30px;
    margin: auto;
}

dress, p{
    display:center;
    padding: 30px;
    margin: auto;
}

/* * === This is the Welcome Header === */
h1 {
  font-family: 'Courgette', cursive;
  font-size: 80px;
  text-align: center;
  color: rgba(255, 189, 199, 1);
}
 /* * === color: rgba(255, 255, 255, 1) === */
 
/* * === This is the body of the website === */
.top {
    text-decoration: none;
    color: rgba(255, 189, 199, 1);
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px; 
    text-align: center;
    padding: 30px;
}
.top h2{
    text-align: center;
    background-color: rgba(255, 189, 199, 1);
    font-family: 'Courgette', cursive;
    color: white;
    font-size: 40px;
    padding: 30px;
}

.container{
    margin: auto;
    display: center;
}

/* * === This is the navigation bar === */
.bar li a{
    text-decoration: none;
    color: rgba(255, 189, 199, 1); 
    font-family: 'Alfa Slab One', cursive;
    font-size: 25px;
    padding: 5px;
    display: flex;
    margin-top: 5px;
}


/* * === This is the three navigation bar spacing === */
ul{
    padding-top: 5px;
    display: flex;
    justify-content:space-around;
    list-style-type: none;
    text-align: right;
    clear: right;
}

	
/* * === This is the body of the website === */
 .link {
    text-decoration: none;
    color: rgba(255, 189, 199, 1);
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;
    text-align: center;
}

.link li a{
color: rgba(255, 189, 199, 1);
 }

/* * === This is the closet image on homepage === */
.enter_img iframe {
    border-color: rgba(255, 189, 199, 1);
    border-radius: 100%;
    padding: 20px;
    width: 600px;
    height: 600px;
    flex: right;
    margin: auto;
}

.enter{
    display: flex;
    background-color:#f9f9f9 ;
}

.rent{
     width: 80%;
     margin-top: 20px;
}

.rent p{
    font-size: 35px;
    display: flex;
    padding:10px;
    border: 5px, #f9b5ac;
    text-align: left;
    background-color: rgba(255, 189, 199, 1);
    color: #fff; 
    font-family: 'Alfa Slab One', cursive;
    margin: 10px;
    margin-bottom: 50px;
    margin-top:50px;
}

/* * === This is the two image style on homepage === */
.catwalk {
	margin:20px 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style-image: none
}
/* * === This is the two images alignment homepage === */
.catwalk img{
	width:300px;
	height:150px;
    display:flex;
	justify-content: space-around;
	align-items:left;
	list-style-image: none;
    }
    
.cityskyline {
    background-color:f9f9f9;
    
}    
.cityskyline img{
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
    width: 100%;
    height: 500px;
    margin: auto;
}

.cityskyline h3{
    text-align: center;
    background-color: rgba(255, 189, 199, 1);
    font-family: 'Courgette', cursive;
    color: white;
    font-size: 40px;
}
.nyc h1{
    font-family:'Roboto Slab', serif;
    font-size: 25px;
    color: #4C4C4C;
}
.nyc p{
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    color: #4C4C4C;
}

/*INDEX*/
div.a {
    
    height: 35px;
    margin: auto;
    margin-top: 10px;
    position: center;
    width: 215px;
}

/*TRIVIA GAME*/
.trivia{
    margin: auto;
    padding: 10px;
    display: center;
}

.trivia {
    margin: auto;
    padding: 10px;
    text-align: center;
    display: center;
}

h3 {
   
   background-color: rgba(255, 189, 199, 1);
   color: #fff;
   font-family: 'Courgette', cursive;
   font-size: 50px;
   margin: auto;
   padding: 10px;
   text-align: center; 
}

#quiz{
    color: #333;
    font-size: 20px;
    font-family: sans-serif;
    margin: auto;
    padding: 10px;
    text-align: justify;
    width: 100%;
    display: center;
    
}

.question{
    font-weight: 600;
    }
    
.answers {
    margin-bottom: 20px;
}

#submit{
    background-color: rgba(255, 189, 199, 1);
    border: 0px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-family: 'Courgette', cursive;
    font-size: 20px;
    margin-bottom: 20px;
    margin: auto;
    padding: 20px;
    display: center;
    
   }
   
#submit:hover{
    background-color: #E5ACB6;
}

 /* === This is the link to the history of fashion === */
.footer {
    text-decoration: none;
    color: rgba(255, 189, 199, 1);
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;
    text-align: center;
  }
  
 .footer a{
    color: rgba(255, 189, 199, 1);
 } 
 
 .involve h3{
    text-align: center;
    background-color: rgba(255, 189, 199, 1);
    font-family: 'Courgette', cursive;
    color: white;
    font-size: 40px;
 }

/*MODAL FORM*/
div.button {
    margin: auto;
    padding: 10px;
    position: center;
    width: 20%;
    color: rgba(255, 189, 199, 1);
}

h4 {
    color: rgba(255, 189, 199, 1);
}

.modal-body img{
    display: center;
}